<!DOCTYPE html>
<html>
<head>
    <title>PetFashion</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1>PetFashion</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Produtos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= body %>
    </main>
    <footer>
        <p>&copy; 2024 PetFashion</p>
    </footer>
</body>
</html>
