<% include('../layout') %>
<h2>Editar Produto</h2>
<form action="/products/edit/<%= product._id %>" method="POST">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" value="<%= product.name %>">
    <label for="description">Descrição:</label>
    <input type="text" id="description" name="description" value="<%= product.description %>">
    <label for="price">Preço:</label>
    <input type="text" id="price" name="price" value="<%= product.price %>">
    <button type="submit">Atualizar</button>
</form>
